@use "../helpers/mixins" as *;

.logo {
  display: block;

  &__img {
    width: 62px;
    height: 36px;
  }
}

.header {
  position: relative;
  z-index: 10;

  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--border);

  @media screen and (max-width: 768px) {
    border: none;
  }

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__inner {
  }

  &__logo {
    margin-right: 108px;

    @media screen and (max-width: 1024px) {
      margin-right: 40px;
    }
  }

  &__nav {
    width: 100%;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.menu {
  display: flex;

  &__item {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: var(--white);
  }

  &__link {
    &.active {
      background-color: #0e1720;
      border-color: #8b0000;

      @include hover {
        background-color: #0e1720;
      }
    }

    display: inline-block;
    padding: 18px 20px;

    border-bottom: 1px solid var(--dark-blue);

    transition: background-color 150ms ease-in-out;

    @include hover {
      background-color: #060c11;
    }
  }
}
