.home-page {
  &__search {
    margin-bottom: 46px;

    @media screen and (max-width: 768px) {
      margin-bottom: 14px;
    }
  }

  &__cards {
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
}
